.place__paragraph {
    margin: 0;
    padding: 0;
    line-height: 163%;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 26px;
    max-width: 484px;
}

.place__paragraph:last-of-type {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 456px;
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .place__paragraph {
        max-width: 288px;
    }
}