.lead__caption {
    margin: 0;
    padding: 0;
    align-self: self-start;
    margin-top: 8px;
    max-width: 158px;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 1.5px;
}