.lead__caption {
    margin: 0;
    padding: 0;
    align-self: self-start;
    margin-top: 8px;
    max-width: 100%;
    line-height: 14px;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        padding-left: 24px;
    }    
}

@media screen and (max-width: 425px) {
    .lead__caption {
        padding-left: 16px;
    }    
}